<template>
  <div class="videos">
      <h1 class="videos__title text-center">PATCHS How to Guide</h1>
      <div class="videos__sidebar">
        <h2 class="videos__sidebar__title text-center">Contents</h2>
        <div class="videos__sidebar__grid justify-center">
          <div>
            <h3 class="videos__sidebar__subtitle">Introduction</h3>
            <button @click="goTo(0)" class="transparent flex">About this guide (X mins)</button>
            <button @click="goTo(3)" class="transparent flex">What's PATCHS (Y mins)</button>
            <button @click="goTo(2)" class="transparent flex">What are the benefits using PATCHS (Z mins)</button>
          </div>
          <div>
            <h3 class="videos__sidebar__subtitle">Using PATCHS</h3>
            <button @click="goTo(1)" class="transparent flex">Principles and Golden Rules (A mins)</button>
            <button @click="goTo(3)" class="transparent flex">Etc etc (Z mins)</button>
          </div>
          <div>
            <h3 class="videos__sidebar__subtitle">Another chapter</h3>
            <button @click="goTo(2)" class="transparent flex">Another video (C mins)</button>
          </div>
        </div>
      </div>

      <div class="videos__wrapper flex flex-column">

        <div class="videos__header relative flex justify-center">
          <template v-for="(video, index) in videos" :key="video.id">
            <transition-group name="desc-anim">
                <h2 v-if="indexList[index]" class="text-center absolute">{{video.title}}</h2>
            </transition-group>
          </template>
        </div>
        <div class="videos__slider relative full-width">
          
            <template v-for="(video, index) in videos" :key="video.id">
              <transition-group name="video-anim">
                <video v-if="indexList[index]" controls :poster="video.poster" class="videos__slider__item absolute full-width full-height">
                  <source :src="video.src" type="video/mp4">
                </video>
              </transition-group>
            </template>
          
        </div>

        <div class="videos__navigation flex justify-between full-width">
          <button @click="goPrevious" class="videos__arrow videos__arrow--prev transparent relative flex align-center">Previous Video</button>
          <button @click="goNext" class="videos__arrow videos__arrow--next transparent relative flex align-center">Next Video</button>
        </div>

        <div class="relative">
            <template v-for="(video, index) in videos" :key="video.id">
              <transition-group name="desc-anim">
                <div v-if="indexList[index]" class="videos__description absolute">
                  <p>{{video.description}}</p>
                  <ul>
                    <li>Lorem Ipsum</li>
                    <li>Lorem Ipsum</li>
                    <li>Lorem Ipsum</li>
                  </ul>
                  <img :src="video.description_img" :alt="video.title">
                </div>
              </transition-group>
            </template>
        </div>
      </div>

  </div>
</template>

<script>
import { ref, onMounted } from "vue";
export default {
  props: ['videos'],
  setup(props) {

    let index = 0
    
    const indexList = ref([])
    
    const goPrevious = () => {
      indexList.value[index] = false
      index--
      if (index === -1) index = props.videos.length - 1
      indexList.value[index] = true
    }

    const goNext = () => {
      indexList.value[index] = false
      index++
      if (index === props.videos.length) index = 0
      indexList.value[index] = true
    }

    const goTo = (val) => {
        index = val
        indexList.value.fill(false)[val] = true 
    }
    
    onMounted(() => {
      indexList.value.length = props.videos.length
      indexList.value.fill(false)[0] = true
    })

    return {
      goPrevious, goNext, goTo, indexList
    }
  }
}
</script>

<style scoped lang="scss">
$primary:#3eb6ff;
$secondary: #7e4c97;

.videos {
  color: $primary;
  background: white;
  height: 100vh;
  padding: clamp(1rem, 2vw, 3rem);
  line-height: 1.65;
  &__title {
    font-size: clamp(1.5rem, 6vw, 3rem);
    margin: 2rem 0;
    font-weight: 100;
  }
}

.videos {
  &__sidebar {
    margin-bottom: 2rem;
    &__title {
      margin: 0 0 1.5rem;
      font-size: clamp(1.25rem, 5vw, 2.5rem);
      line-height: 1.2;
    }
    &__subtitle {
      margin:  0 0 .5rem;
    }
    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, 15rem);
      column-gap: 2rem;
      row-gap: 1rem;
      margin-top: 2rem;
    }
    button {
      text-align: left;
      padding: 0;
      margin-bottom: 0.5rem;
      color: $secondary;
    }
  }
}

.videos {
  &__header {
    height: clamp(4rem,10vw,6rem);
    h2 {
      margin: 0 0 1.5rem;
      font-size: clamp(1.25rem, 5vw, 2.5rem);
      line-height: 1.2;
    }
  }
}

.videos {
  &__slider {
    padding-top: 56.25%; // aspect-ratio css property is an alternative
    margin-bottom: 1rem;
    &__item {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  &__navigation {
    margin-bottom: 2rem;
  }
  &__arrow {
    font-size: clamp(.65rem,2vw,1rem);
    color: $secondary;
    letter-spacing: 1px;
    font-weight: bold;
    transition: transform 600ms;
    &::after {
      content: "";
      position: absolute;
      width: 0.5rem;
      height: 0.5rem;
      border-left: 2px solid #7e4c97c4;
      border-top: 2px solid #7e4c97c4;
      opacity: 0;
    }
    &--prev {
      padding: 0 0 0 1rem;
      transform: translate3d(-1rem,0,0);
      &::after {
        transform: rotate(-45deg);
        left: 0;
      }
    }
    &--next {
      padding: 0 1rem 0 0;
      transform: translate3d(1rem,0,0);
      &::after {
        transform: rotate(135deg);
        right: 0;
      } 
    }
    &:hover, &:active {
      transform: translate3d(0,0,0);
      &::after {
        animation: arrow 500ms ease-out 300ms forwards;
      }
    }
  }
}

.videos__wrapper {
      margin-bottom: 100vh;
}

@media not all and (min-width: 100ch) {
   .videos {
     &__header h2 {
       margin: 1rem 0 0;
     }
   }
}

@media (min-width: 100ch) {
   .videos {
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: max-content;
      max-width: 1200px;
      margin: 0 auto;
      &__title {
        grid-column: -1/1;
      }
   }
  .videos__description {
    img {
      max-width: 50%;
    }
  }
}


</style>