<template>
<article>
    <VideoList :videos="videos" />
</article>
</template>

<script>
import VideoList from "@/components/VideoList";
export default {
  components: {VideoList},
  setup() {
    const videos = [
      {
        id: 1,
        src: 'https://patchs-public.s3.eu-west-2.amazonaws.com/instruction-videos/how_to_1_about_this_guide.mp4',
        poster: "https://origopress.com/files/test/video-image-1.jpg",
        title: "Lorem Ipsum Title 1",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eleifend egestas odio at venenatis. Nulla lobortis, nisl non vehicula sagittis, elit ex dictum mi, sollicitudin aliquam est justo quis nisi.",
        description_img: "https://origopress.com/files/test/video-description-image-1.jpg"
      }, 
      {
        id: 2,
        src: 'https://patchs-public.s3.eu-west-2.amazonaws.com/instruction-videos/how_to_2_what_is_patchs.mp4',
        poster: "https://origopress.com/files/test/video-image-2.jpg",
        title: "Mauris Pulvinar Title 2",
        description: "Donec consectetur lorem vitae lacus vulputate, in lacinia felis tristique. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.",
        description_img: "https://origopress.com/files/test/video-description-image-3.jpg"
      }, 
      {
        id: 3,
        src: 'https://patchs-public.s3.eu-west-2.amazonaws.com/instruction-videos/how_to_1_about_this_guide.mp4',
        poster: "https://origopress.com/files/test/video-image-3.jpg",
        title: "Cras Vitae Title 3",
        description: "Phasellus dignissim felis quis mi sollicitudin condimentum. Ut pharetra pulvinar est, id cursus tortor accumsan nec. Vivamus id enim interdum, blandit est at, lobortis risus.",
        description_img: "https://origopress.com/files/test/video-description-image-2.jpg"
      }, 
      {
        id: 4,
        src: 'https://patchs-public.s3.eu-west-2.amazonaws.com/instruction-videos/how_to_2_what_is_patchs.mp4',
        poster: "https://origopress.com/files/test/video-image-4.jpg",
        title: "Mauris Vehicula Title 4",
        description: "Ut suscipit finibus tellus quis accumsan. Suspendisse sagittis ex ipsum, nec viverra neque sagittis ac. Integer ut mollis leo. Fusce quis lectus est.",
        description_img: "https://origopress.com/files/test/video-description-image-4.jpg"
      }
    ]
    return {
      videos
    }
  }

}
</script>

<style lang="scss">
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
}
img {
  max-width:100%;
  height: auto;
}

// classes
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.transparent {
  background-color: transparent;
}
.text-center {
  text-align: center;
}

// Animation
@keyframes arrow {
  100% {
    opacity: 1;
  }
}
.video-anim-enter-active,
.video-anim-leave-active {
  transition: opacity 1s, transform 1s;
}
.video-anim-enter-from,
.video-anim-leave-to {
  opacity: 0;
  transform: scale(.5);
}

.desc-anim-enter-active,
.desc-anim-leave-active {
  transition: opacity 1s, transform 1s;
}
.desc-anim-enter-from,
.desc-anim-leave-to {
  opacity: 0;
  transform: translate3d(-2rem, 0, 0);
}

</style>